

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&family=Satisfy&display=swap');



.bg-container{
    background-image:url("backgroundImage4.jpg");
    
    height:100vh;
    background-position: center;
    background-size: cover;
    color:#fff;
    
    text-align: center;
}



@media (max-width:576px){
    .heading{
    
        font-family: 'Satisfy', cursive;
        font-weight: 600;
         font-size:42px;
         padding-bottom: 10px;
    
    }
    p{
        font-size: 14px;
        font-weight: 600;
        padding-top: 5px;
    }
    h1{
       
        
        
        
    }
    
    
    .days{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:50px ;
        width:65px;
        
        
        margin-right: 12px;
    }
    .hours{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:50px ;
        width:65px;
        
        margin-right: 12px;
    }
    .minutes{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:50px ;
        width:65px;
        
        margin-right: 12px;
    }
    .seconds{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:50px ;
        width:65px;
        margin-right: 12px;
        
    }
}


@media (min-width:576px){
    .heading{
    
        font-family: 'Satisfy', cursive;
        font-weight: 600;
         font-size:52px;
         padding-bottom: 20px;
    
    }
    p{
        font-size: 16px;
        font-weight: 600;
        padding-top: 10px;
    }
    
    #days{
        font-size: 40px;
    }
    #hours{
        font-size: 40px;
    }
    #minutes{
        font-size: 40px;
    }
    #seconds{
        font-size: 40px;
    }
    
    .days{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:60px ;
        width:70px;
        
        
        margin-right: 20px;
    }
    .hours{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:60px ;
        width:70px;
        
        margin-right: 20px;
    }
    .minutes{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:60px ;
        width:70px;
        
        margin-right: 20px;
    }
    .seconds{
        border-color: #fff;
        border-style: solid;
        border-radius: 8px;
        border-width:3px;
        height:60px ;
        width:70px;
        margin-right: 20px;
        
    }
}
