
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&family=Satisfy&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #041E50;
    
    

}
.quizApp{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
   
    margin: 100px auto 0;
    padding: 30px;
}
.button{
    
    width:100%;
    text-align: left;
    
    padding:10px;
    margin:10px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: #222;
    color:#222;
    border-width: 1px;
    cursor: pointer;
    transition: all 0.3s ;
}
.button:hover:not([disabled]){
    background-color: #222;
    color:#fff;
}
.button:disabled{
    cursor: no-drop;
}
#next-button{
    width:150px;
    background-color: #001e4d;
    color:#fff;
    border-width: 0px;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto 0;
    font-weight: 500;
    cursor: pointer;
    display: none;
    padding:10px ;



}
.quiz{
    padding-top: 20px;
}
.heading{
    color:#001e4d;
    font-size: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.question{
    color:#001e4d;
    font-size: 18px;
    font-weight: 600;
}
.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}